@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*,
::before,
::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 85%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    padding: 15px;
    margin: 15px;
}

.nav__items {
    display: flex;
    align-items: center;
    gap: 25px;
}

.time {
    text-align: right;
    margin: 15px;
}